.DS_Store
Thumbs.db
*.log
logs/
log/
*.tmp
*.temp
*.bak
*.swp
.vscode/
.idea/
**/nbproject/private/
*.class
target/
out/
build/
dist/
nbbuild/
nbdist/
.gradle/
apache-tomcat*/
tomcat/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.zip
*.rar
*.7z
*.exe
