@media screen and (max-width: 1200px) {
  /*màn hình nhỏ hơn 1200px*/
  #desktop-nav {
    display: none; /*ẩn thanh điều hướng trên desktop*/
  }
  #hamburger-nav {
    display: flex; /*hiển thị hamburger menu*/
  }
}
