/*general;*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth; /*sẽ cuộn mượt mà xuống #id được click*/
}
p {
  color: rgb(85, 85, 85);
}

/*Transitions*/
a,
.btn {
  transition: all 300ms ease; /* 
    Thuộc tính transition trong CSS dùng để tạo hiệu ứng chuyển đổi mượt khi một thuộc tính CSS thay đổi giá trị (thường là khi hover, focus, active,…).
    transition: [property] [duration] [timing-function] [delay];*/
}

/*desktop nav*/
nav,
.nav-links {
  display: flex;
}

nav{
    justify-content: space-around;/*Mỗi item có khoảng trống ở hai bên (trái + phải)*/
    align-content: center;
    height: 17vh; /*17* độ cao của màn hình*/
    margin-top: 20px;
}
.nav-links{
    gap: 2rem; /*khoảng cách giũa các item*/
    list-style: none;
    font-size: 1.5rem; /*1,5 nhân với font của html*/
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color:white ;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem; /*khoangr giữa đường gạch chân và chữ*/
    text-decoration-color:rgb(181,181,181) ;
}
.logo{
    font-size: 2rem;;
}
.logo:hover{
    cursor: default;
}

/*Hamburger menu*/
#hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}